<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872855584999-muj7vvqa768b46fp79d67ip9qrjsv5lm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872855584999-muj7vvqa768b46fp79d67ip9qrjsv5lm</string>
	<key>API_KEY</key>
	<string>AIzaSyDtqgWA9BeKFPjepzy9SbCvTbEWqxaegSs</string>
	<key>GCM_SENDER_ID</key>
	<string>872855584999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.studenthub.demo</string>
	<key>PROJECT_ID</key>
	<string>studenthub-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>studenthub-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872855584999:ios:30b8547d6e000a04a9e242</string>
</dict>
</plist>